/*********************************
 * RESET & BOX MODEL
 *********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*********************************
 * CSS VARIABLES
 *********************************/
:root {
  --primary-color: #fbfbfb;
  --secondary-color: #160c28;
  --accent-color: #07599d;
  --secondary-accent-color: rgba(255, 255, 255, 0.855);

  /* Fonts */
  --heading-font: "Roboto", Arial, sans-serif;
  --body-font: "DM Sans", Arial, sans-serif;
  --serif-font: "Lora", Georgia, serif;
  --classic-font: "Tinos", "Times New Roman", serif;
  --nav-font: "DM Sans", Arial, sans-serif;
  --button-font: "Roboto", Arial, sans-serif;
}

/*********************************
 * GLOBAL WRAPPER
 *********************************/
#wrapper {
  background-color: var(--primary-color);
}

.body-heading {
  padding: 20px;
  font-family: var(--heading-font);
  font-size: 2.5em;
  color: var(--secondary-color);
  text-align: center;
}

/*********************************
 * HEADER & NAVIGATION
 *********************************/
#top-header {
  background-color: var(--primary-color);
  color: var(--primary-color);
  font-family: var(--nav-font);
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName a {
  font-family: var(--heading-font);
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary-color);
  text-decoration: none;
}

#tools a {
  font-size: 1em;
  color: var(--secondary-color);
  text-decoration: none;
}

/* Navigation */
nav {
  background-color: var(--secondary-color);
  font-family: var(--nav-font);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2em;
  padding: 5px 10px;
}

/*********************************
 * HERO SECTION
 *********************************/
#hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

#hero-container h1 {
  grid-column: 1 / span 2;
  padding: 20px;

  font-family: var(--heading-font);
  font-size: 2.5em;
  color: var(--secondary-color);
}

.hero-img {
  grid-column: 1 / 3;
}

.hero-img img {
  width: 100%;
  height: auto;
}

#hero-container section {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 2;

  background-color: var(--secondary-accent-color);
  padding: 40px;
  margin: 10px;
  border-radius: 10px;

  color: var(--accent-color);
}

#hero-container section h2 {
  font-family: var(--classic-font);
  font-size: 2em;
}

#hero-container section p {
  font-family: var(--serif-font);
  font-size: 1.5em;
  font-weight: 500;
}

.hero-btn {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  font-family: var(--nav-font);
  font-size: 1.2em;
  color: var(--primary-color);
  text-decoration: none;
}

/*********************************
 * UPGRADES SECTION
 *********************************/
#upgrades {
  padding: 10px;
}

#upgrades h3 {
  grid-column: 1 / span 2;
  padding: 20px;

  font-family: var(--heading-font);
  font-size: 1.5em;
  color: var(--secondary-color);
}

.upgrades-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.upgrade-item {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.upgrade-item img {
  width: 70%;
  border-radius: 10px;
}

.upgrade-item div {
  width: 100%;
  padding: 10px;
  background-color: var(--accent-color);
}

.upgrade-item a {
  display: block;
  margin-top: 10px;

  font-family: var(--body-font);
  font-size: 1.2em;
  color: var(--accent-color);
  text-decoration: underline;
}

/*********************************
 * REVIEWS
 *********************************/
#reviews {
  padding: 10px;
  display: grid;
}

#reviews h3 {
  padding: 20px;

  font-family: var(--heading-font);
  font-size: 1.5em;
  color: var(--secondary-color);
}

.review-items ul {
  padding: 20px;
}

.review-items ul li {
  margin-bottom: 20px;

  font-family: var(--body-font);
  font-size: 1.2em;
  color: var(--secondary-color);
}

/*********************************
 * INVENTORY LISTING
 *********************************/
#inv-display {
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#inv-display li {
  list-style: none;
  margin: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.namePrice {
  margin: 10px 0;
  text-align: center;

  font-family: var(--body-font);
  font-size: 1.2em;
}

.namePrice h2 a {
  color: var(--secondary-color);
}

/*********************************
 * INVENTORY DETAIL VIEW
 *********************************/
#inv-detail-display {
  padding: 20px;
}

.inv-image {
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.inv-image img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.inv-info {
  padding: 30px;
}

.inv-info h2,
.inv-info h3 {
  margin-bottom: 10px;

  font-family: var(--heading-font);
  font-size: 2em;
  color: var(--secondary-color);
}

.inv-info ul {
  list-style: none;

  font-family: var(--body-font);
  font-size: 1.5em;
  color: var(--secondary-color);
}

.inv-info ul li {
  margin-bottom: 10px;
}

.inv-info p {
  margin: 20px 0;

  font-family: var(--body-font);
  font-size: 1.4em;
  color: var(--secondary-color);
}

.inv_headings {
  font-weight: bold;
  margin-right: 10px;
}

/******************************
* Error view
*******************************/
.error-message {
  padding: 20px;

  font-family: var(--body-font);
  font-size: 1.5em;
  color: var(--secondary-color);
  text-align: center;
}

/**********************************
* Form styles
***********************************/
.form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-family: var(--body-font);
  font-size: 1.5em;
  color: var(--secondary-color);
}

.form-group input {
  padding: 8px;
  font-size: 1.2em;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.form-group span {
  font-size: 1.2em;
  font-family: var(--classic-font);
  margin-bottom: 10px;
}

.form button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-family: var(--button-font);
  font-size: 1.2em;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
}

.form p {
  margin-top: 15px;
  font-family: var(--body-font);
  font-size: 1.2em;
  color: var(--secondary-color);
  text-align: center;
}

.form p a {
  color: var(--accent-color);
  text-decoration: underline;
}

.notice {
  text-align: center;
  list-style: none;
  padding: 10px;
}

.notice li {
  font-size: 1.2em;
  color: red;
  margin-bottom: 10px;
}

/*********************************
 * FOOTER
 *********************************/
footer {
  padding: 20px;

  font-family: var(--nav-font);
  font-size: 1em;
  color: var(--secondary-color);
}

/*********************************
 * MOBILE NAV ENHANCEMENT
 *********************************/
@media (max-width: 549px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul li {
    border: 1px solid var(--primary-color);
  }
}

/*********************************
 * DESKTOP STYLES
 *********************************/
@media (min-width: 550px) {
  body {
    background-image: url(/images/site/checkerboard.jpg);
  }

  #wrapper {
    width: 70%;
    margin: 0 auto;
    border: 5px solid var(--accent-color);
    border-radius: 20px;
  }

  #bottom-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  #inv-detail-display {
    display: flex;
    align-items: center;
  }
}
